In [ ]:
import numpy as np

In [ ]:
n1=np.random.randint(100,size=(3,4))

In [ ]:
n1

In [ ]:
np.random.seed(22)

In [ ]:
np.zeros(shape=(3,4))

In [ ]:
##pandas--used to examine data

In [7]:
import pandas as pd

In [8]:
#pandas data manupulation and analysis
#missing data,flexible reshaping,outlier--(find out the data which is flexible for our need and found out the unusal abnormal thing)

In [9]:
#--2 types of datastructures
#1)series-- 1D array which is capable of holding any datatype
#2)dataframe

In [11]:
#1)series-- 1D array which is capable of holding any datatype
l1=[10,34,'erty',34]

In [13]:
s1=pd.Series(l1)
s1

0      10
1      34
2    erty
3      34
dtype: object

In [14]:
l2=[100,200,300]

In [16]:
s1=pd.Series(l2) #the int64 shows all are integers
s1

0    100
1    200
2    300
dtype: int64

In [17]:
s1.index #automated index

RangeIndex(start=0, stop=3, step=1)

In [18]:
l3=[100,200,300,400]

In [23]:
s2=pd.Series(l3,index=['tata','birla','RIL','BEL'])

In [24]:
s2

tata     100
birla    200
RIL      300
BEL      400
dtype: int64

In [25]:
l4=[78,50,67,90]

In [27]:
s3=pd.Series(l4,index=['Anjali','Anjana','Saliha','Muhsina'])
s3

Anjali     30
Anjana     50
Saliha     67
Muhsina    90
dtype: int64

In [28]:
s3.dtype

dtype('int64')

In [29]:
s3.index

Index(['Anjali', 'Anjana', 'Saliha', 'Muhsina'], dtype='object')

In [30]:
s3.describe()

count     4.000000
mean     59.250000
std      25.473843
min      30.000000
25%      45.000000
50%      58.500000
75%      72.750000
max      90.000000
dtype: float64

In [31]:
s1

0    100
1    200
2    300
dtype: int64

In [32]:
s2[0]

100

In [33]:
s3[1:4]

Anjana     50
Saliha     67
Muhsina    90
dtype: int64

In [34]:
s3['Anjali':'Muhsina']

Anjali     30
Anjana     50
Saliha     67
Muhsina    90
dtype: int64

In [35]:
#conditiob
s2[s2>250]

RIL    300
BEL    400
dtype: int64

In [37]:
s2[(s2>150) & (s2<250)]

birla    200
dtype: int64

In [38]:
price=[250,350,275]

In [44]:
s4=pd.Series(price,index=['chees','spicyChicken','vegPaneer'])
s4

chees           250
spicyChicken    350
vegPaneer       275
dtype: int64

In [45]:
s4.index

Index(['chees', 'spicyChicken', 'vegPaneer'], dtype='object')

In [46]:
s4[s4>300]

spicyChicken    350
dtype: int64

In [47]:
#2)Dataframe

In [48]:
rp2={'Location':['Bangalore','Cochin'],
'Jan':[100,500]} #creating a data dictionary

In [49]:
rp2

{'Location': ['Bangalore', 'Cochin'], 'Jan': [100, 500]}

In [50]:
df=pd.DataFrame(rp2)

In [51]:
df

    Location  Jan
0  Bangalore  100
1     Cochin  500

In [52]:
df.index

RangeIndex(start=0, stop=2, step=1)

In [53]:
df.columns

Index(['Location', 'Jan'], dtype='object')

In [54]:
#df.to_csv("salary.csv")

In [72]:
df={'':['Retail','Banking','Tech','Transport'],
    'Tata':[100,200,300,400,],
'Birla':[500,600,700,800]} 
df

{'': ['Retail', 'Banking', 'Tech', 'Transport'],
 'Tata': [100, 200, 300, 400],
 'Birla': [500, 600, 700, 800]}

In [73]:
df1=pd.DataFrame(df)
df1

              Tata  Birla
0     Retail   100    500
1    Banking   200    600
2       Tech   300    700
3  Transport   400    800

In [79]:
df1.index

RangeIndex(start=0, stop=4, step=1)

In [76]:
df1.columns

Index(['', 'Tata', 'Birla'], dtype='object')

In [77]:
df1.shape

(4, 3)

In [78]:
df1.ndim

2

In [75]:
df1.describe()

             Tata       Birla
count    4.000000    4.000000
mean   250.000000  650.000000
std    129.099445  129.099445
min    100.000000  500.000000
25%    175.000000  575.000000
50%    250.000000  650.000000
75%    325.000000  725.000000
max    400.000000  800.000000

In [83]:
df3=pd.read_csv("profit1.csv")

FileNotFoundError: [Errno 2] No such file or directory: 'profit1.csv'

In [84]:
df3

NameError: name 'df3' is not defined